* {
    text-align: center;
    background-color: #4db9a5;
}

.headers {
    font-family:'Brush Script MT', 'Times New Roman', sans-serif;
}

.list {
    font-size: large;
    list-style-position: inside;
}

.photos {
    height: auto;
    width: 310px;
}